node_modules/
.DS_Store
.env
dist/
coverage/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
pnpm-lock.yaml
*.tgz
*.log
*.tsbuildinfo
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*.bak       